:root {
    --main-color: #01aef0;
    --second-color: #5bc0de;
    --cayarasi: #f56a6a;
    --nice-green: #2ecc71;
    --dark-green: #27ae60;
    --success: #4caf50;
    --info: #2196f3;
    --warning: #ff9800;
    --danger: #f44336;
    --bilgi: #ddd;
    --default: #2b2b2b;
    --lightseagreen: #20b2aa;
    --legendgreen: #af0;
    --second-font: 'Montserrat', sans-serif;
    --logo-font: 'Trebuchet MS', Verdana, sans-serif;
    --content-font: 'Open Sans', sans-serif;


    --logo-font: 'Trebuchet MS', Verdana, sans-serif;
}