/* settings-icon */
.settings-icon {
    position: fixed;
    top: 0;
    right: 50px;
    height: 50px;
    width: 50px;
    z-index: 121;
    color: #4a89dc;
    cursor: pointer;
    text-align: center;
}

.settings-icon:hover,
.burger:hover {
    background-color: rgba(0, 0, 0, .3);
}

/* header.navbar */
.burger {
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    z-index: 121;
    cursor: pointer;
    text-align: center;
}

.x,
.y,
.z {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 15px;
    right: 12.5px;
    background: #4a89dc;
    border-radius: 2px;
    transition: all 200ms ease-out;
}

.x,
.y,
.z {
    height: 3px;
    width: 26px;
}

.y {
    top: 18px;
}

.z {
    top: 37px;
}

.collapse {
    top: 20px;
    background: #4a89dc;
    transition: all 70ms ease-out;
}


.rotate30 {
    transform: rotate(30deg);
    transition: all 50ms ease-out;
}

.rotate150 {
    transform: rotate(150deg);
    transition: all 50ms ease-out;
}

.rotate45 {
    transform: rotate(45deg);
    transition: all 100ms ease-out;
}

.rotate135 {
    transform: rotate(135deg);
    transition: all 100ms ease-out;
}


/* off-canvas */
.nav-open main {
    transform: scale(0.8);
}

.overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #31558a;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.nav-open .overlay {
    opacity: 0.6;
    visibility: visible;
}

.nav-container {
    position: fixed;
    z-index: 119;
    top: 0;
    right: 0;
    height: 100%;
    width: 90%;
    max-width: 460px;
    padding: 2em 3.5em;
    background: #f3f3f3;
    overflow: auto;
    transform: translateZ(0);
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.07, 0.23, 0.34, 1);

    display: grid;
    place-items: center;

    border-left: 3px solid #4a89dc;
    overflow: overlay;
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
    transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
}

.nav-open .nav-container {
    transform: translateX(0);
}


.nav-container h2 {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #aaaaaa;
    margin: 1.5em 0;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}



.nav a {
    display: block;
    padding: 0.4em 0;
    font-size: 31px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color: #4a89dc;
    transform: translateZ(0);
}

.nav a:hover {
    color: deepskyblue;
}

.nav-open .nav a {
    animation: slide-in 0.4s 0.2s backwards;
}

.nav-open .nav li:nth-of-type(2) a {
    animation-delay: 0.3s;
}

.nav-open .nav li:nth-of-type(3) a {
    animation-delay: 0.4s;
}

.nav-open .nav li:nth-of-type(4) a {
    animation-delay: 0.5s;
}

.nav-open .nav li:nth-of-type(5) a {
    animation-delay: 0.6s;
}

.nav-open .nav li:nth-of-type(6) a {
    animation-delay: 0.7s;
}

.nav-open .nav li:nth-of-type(7) a {
    animation-delay: 0.8s;
}

.nav-open .nav li:nth-of-type(8) a {
    animation-delay: 0.9s;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(80px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.boxShadow {
    box-shadow: 0 0 50px #000;
}

/* off-canvas */

/* arama */

.arama {
    padding: 8px;
    border-radius: 10px;
    border: 3px solid #4a89dc;
    background: transparent;
    color: azure;
    width: calc(100% - 63px);
}

.arama::placeholder {
    color: #4a89dc;
    font-size: smaller;
}

.arama:hover {
    border: 3px solid deepskyblue !important;
}

.arama-icon {
    color: #4a89dc;
    cursor: pointer;
}

.arama-icon:hover {
    color: deepskyblue
}

/* no need more thanks SVG :*
   .arama-icon:before{
    font-family: FontAwesome;
    content:"\f002";
  } */


.hc-logo {
    position: relative;
    float: left;
    top: 0;
    margin: 0;
    height: 100%;
    width: 150px;
    max-height: 50px;
    user-select: none;
}

.hc-dolunay {
    position: absolute;
    top: -12px;
    left: -12px;
    width: 45px;
    height: 45px;
}

.hc-dolunay img {
    width: 100%;
    height: auto;
}

.hc-title {
    position: absolute;
    top: 5px;
    left: 0
        /* 47px */
    ;
    width: -webkit-fill-available;
}

.hc-title h1 {
    letter-spacing: -1px;
    font-family: var(--logo-font);
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1em;
    margin: 0;
}

.hc-title .hc-desc {
    position: absolute;
    top: 21px;
    font-size: 0.8em;
    padding-left: 2px;
    width: -webkit-fill-available;
}

.hc-title span {
    color: #af0;
}

.hc-logo a:visited,
.hc-logo a:link,
.hc-logo a:active,
.hc-logo a:hover {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}




header.navbar {
    position: fixed;
    z-index: 115;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 15px;
    height: 50px;
    width: 100%;

    background: #385e97;
    color: #b7b7b7;

    -webkit-box-shadow: 0 0 45px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 45px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 45px 0px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    width: auto;
    height: 27px;
}

.navbar a {
    color: #b7b7b7;
}

.navbar a:hover {
    color: #111;
}

.fa-fw {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* responsive */
@media (max-width: 500px) {
    .fa-fw span {
        display: none;
    }

    .fa-fw {
        font-size: 25px
    }
}

/* YAZILARIM */

/*etiketler*/
.tagcloud {
    color: #999;
    margin: 10px auto;
    line-height: 1.2;
    font-size: 14px;
}

.tagcloud a {
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    color: #666;
    padding: 3px 10px;
    background-color: #ddd;
    margin: 4px
}

.tagcloud a:hover {
    color: #fff;
    background-color: #0091ea
}

/* Post Index (Standart) */
section.posts {
    border: none;
    background: transparent;
}

article.loop-post {
    margin-top: -0.063em;
    border: .063em solid #ccc;
    margin-bottom: 20px;
    border-radius: 30px;
    background: #fff;
}

article.loop-post:hover {
    background: #eee;
    border-top: #666 solid .25em;
}

article.loop-post a {
    display: block;
    padding: 2.374em 2.5em 2.5em 2.5em;
    overflow: hidden;
}

article.loop-post a:hover {
    padding: 2.187em 2.5em 2.5em 2.5em;
}

article.loop-post .postImg {
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding-right: 2em;

    /* for others*/
    font-size: 50px;
    text-align: center;
    padding: 5px;
    color: lightblue;
}

article.loop-post .postImg img {
    width: 100%;
    max-width: 130px;
    border-radius: 15px;
}

article.loop-post a h2 {
    color: #222;
    float: right;
    width: 75%;
}

article.loop-post a:hover h2 {
    color: #157EBF;
}

article.loop-post a p {
    color: #444;
    float: right;
    width: 75%;

    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    height: 63;
    /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

article.loop-post a:hover p {
    color: #222;
}

@media only screen and (max-width: 750px) {
    section.posts {
        width: 100%;
    }

    article.loop-post a {
        padding: 2.374em 1.5em 2.5em 1.5em;
    }

    article.loop-post a:hover {
        padding: 2.187em 1.5em 2.5em 1.5em;
    }

    article.loop-post .postQuote {
        font-size: 100%;
    }
}

@media only screen and (max-width: 500px) {
    article.loop-post .postImg {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    article.loop-post .postImg img {
        max-width: 130px;

    }

    article.loop-post a p,
    article.loop-post a h2 {
        width: 100%;
    }

}


.navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 14px;
}

.navigation a {
    text-decoration: none;
    font-weight: 700;
    color: #07aff0;
}


/* single */

.single-content,
.single-post-info,
.single-comments {
    padding: 20px;
}

/* single-post-header */
.single-post-header {
    width: 100%;
    position: relative;
    padding-top: 100px;

    overflow: hidden;
    border-top-right-radius: 0;
    -webkit-animation: curve 1.5s ease forwards;
    animation: curve 1.5s ease forwards;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}


@-webkit-keyframes curve {
    100% {
        border-radius: 0 250% 250% / 25% 25%;
        border-top-right-radius: 0;
    }
}

@keyframes curve {
    100% {
        border-radius: 0 250% 250% / 25% 25%;
        border-top-right-radius: 0;
    }
}

.feature-content {
    position: relative;
    z-index: 100;
    max-width: 1000px;
    padding: 50px 50px;
    margin: 0 auto;
}

.feature-content h1 {
    color: white;
    max-width: 500px;
    font-weight: 100;
    font-size: 44px;
    letter-spacing: 0.02em;
    line-height: 1.1;
    margin-top: 16px;
    margin-bottom: 16px;
    text-shadow: 2px 2px 2px var(--default, #000);
}

.feature-content .category {
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.05em;
    background: rgba(255, 255, 255, 0);
    padding: 6px 16px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    transition-duration: 0.4s;
}

.feature-content .category:hover {
    color: black;
    background: white;
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
}

.feature-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-size: cover;
    background-position: center;
    z-index: 10;
}

.feature-image:before {
    content: '';
    display: block;
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    pointer-events: none;
}

@keyframes foil {
    0% {
        background-position-x: 0%;
        background-position-y: 0%;
        opacity: 0;
    }

    20% {
        opacity: 0.35;
    }

    40% {
        opacity: 0.15;
    }

    60% {
        opacity: 0.35;
    }

    80% {
        opacity: 0.15;
    }

    100% {
        background-position-x: 0%;
        background-position-y: 100%;
        opacity: 0;
    }
}

.author-content {
    background: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: white;
    border-radius: 100px;
    display: flex;
    max-width: 250px;
}

.author-portrait {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: url('assets/img/mini-avatar.jpg');
    background-size: 100%;
    background-position: center center;
    display: block;
}

.author-info {
    padding: 8px;
    font-weight: 600;
}

.by {
    font-weight: 400;
}

.author-content ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 10px;
    padding-top: 2px;
}

.author-content li {
    display: inline;
    padding-right: 4px;
    opacity: 0.8;
    transition-duration: 0.2s;
    cursor: pointer;
}

.author-content li:hover {
    opacity: 1;
}

.author-content li a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.author-box .desc {
    color: white;
    display: inline-block;
    margin-bottom: 16px;

    height: 78px;
    font-size: 15px;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* single-comment */

.single-comments-tags {
    align-items: center;
    justify-content: flex-end;
}

img.avatar {
    float: left;
    padding: 10px;
    height: 48px;
    width: 48px;
    border-radius: 50px;
}


/* footer.settings */
footer.settings {
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;

    min-width: 285px;
    width: 20vw;
    height: 100vh;
    color: #4a89dc;
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
    border-left: 3px solid #4a89dc;
    font-size: 14px;

    overflow: hidden;
    z-index: 9999;
}

footer.settings a,
footer.settings h3 {
    color: #4a89dc;
}

footer.settings hr {
    border-color: #4a89dc;
}

footer.settings .settings-content {
    height: calc(100% - 100px);
    overflow: auto;
    border-top: 3px solid #4a89dc;
    border-bottom: 3px solid #4a89dc;
    border-right: 3px solid #4a89dc;
    padding-left: 10px;
    margin-top: 49px;
}

.settings-content img {
    width: 160px;
}

footer.settings .close-settings {
    position: absolute;
    right: 0px;
    top: 0px;

    width: 60px;
    height: 49px;
    color: #1786cd;
    cursor: pointer;
}

footer.settings .close-settings:hover {
    color: #fff;
    background: #4a89db;
}

.settings-footer {
    font-size: .8em;
    text-align: center;
    padding: 0 20px;
    overflow: hidden;
}

@media (max-width: 480px) {
    footer.settings .settings-content {
        min-height: calc(70vh - 50px);
    }
}




.hc-logo {
    position: relative;
    float: left;
    top: 0;
    margin: 0;
    height: 100%;
    width: 150px;
    max-height: 50px;
}

.hc-dolunay {
    position: absolute;
    top: -12px;
    left: -12px;
    width: 45px;
    height: 45px;
}

.hc-dolunay img {
    width: 100%;
    height: auto;
}

.hc-title {
    position: absolute;
    top: 5px;
    left: 0
        /* 47px */
    ;
    width: -webkit-fill-available;
}

.hc-title h1 {
    color: #fff;
    letter-spacing: -1px;
    font-family: var(--logo-font);
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1em;
    margin: 0;
}

.hc-title span {
    color: var(--legendgreen, #444);
}

.hc-title .hc-desc {
    position: absolute;
    top: 21px;
    font-size: 0.8em;
    padding-left: 2px;
    width: -webkit-fill-available;
}

.hc-logo a:visited,
.hc-logo a:link,
.hc-logo a:active,
.hc-logo a:hover {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.myImage {
    width: 100px;
    height: 100px;
    background-image: url('assets/img/me.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px;
    border-radius: 100%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.8);
}

.hc-author_photo {
    position: relative;
    z-index: 9;
}

.hc-author_photo img {
    border: 1px solid #666;
    -webkit-transition: -webkit-transform 0.15s linear;
    -moz-transition: -moz-transform 0.15s linear;
    -o-transition: -o-transform 0.15s linear;
    transition: transform 0.15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    padding: 5px 5px 5px 5px;
    -webkit-transform: rotate(+2deg);
    -moz-transform: rotate(+2deg);
    -ms-transform: rotate(+2deg);
    -o-transform: rotate(+2deg);
    transform: rotate(+2deg);
}

.hc-author_photo img:hover {
    background: #ffffff;
    border: 1px solid #eeeeee;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    transform: rotate(-1deg);
}


/* index.css */

.welcome-text {
    padding-left: 20px;
}

.languages {
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    font-size: 72px;
    height: 15vh;
    width: 100%;
    background: transparent;
    border: none;
    overflow: hidden;
}

.languages .panel {
    align-items: center;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.languages .panel:hover {
    -webkit-filter: grayscale(0);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
}

@media (max-width:480px) {
    .languages {
        height: auto;
        width: 100%;
        background: transparent;
    }

    .languages .panel {
        border-radius: 100%;
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
        border: 3px solid #fff;
        padding: 10px 5px;
    }

    .languages .panel svg {
        height: 32px;
        width: 32px;
    }
}

.html {
    background-color: #e54d26;
    border-radius: 30px 0 0 30px;
}

.css {
    background-color: #0171bb;
}

.js {
    background-color: #f1da4e;
}

.sass {
    background-color: #cd669a;
}

.wordpress {
    background-color: #0f6cb1;
}

.codepen {
    background-color: #333;
    border-radius: 0 30px 30px 0;
}

.ion-social-javascript {
    color: #333;
}


#about {
    position: relative;
    width: 100%;
    height: 500px;
    background: url('assets/img/about_bg_hkkcngz.jpg');
    background-repeat: no-repeat;
    background-color: #303030;
    background-position: top;
    background-size: cover;
    overflow: hidden;
}

#about-p-container {
    position: absolute;
    bottom: 0;
    height: 265px;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    padding: 30px;
}

#about p {
    margin: 0;
    font-size: 1.3em;
    font-weight: 200;
    font-family: monospace;
}

@media (max-width: 480px) {
    #about-p-container {
        height: 60%;
    }

    #about p {
        font-size: 1.15em;
    }

}

.name {
    font-weight: 700;
    color: #2c7bb2;
}

.property {
    color: #DDA0DD;
}

.value1 {
    color: gold;
}

.value2 {
    color: #FFA520;
}

.blinking-cursor {
    font-weight: 100;
    font-size: 25px;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: white;
    }
}

@-moz-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: white;
    }
}

@-webkit-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: white;
    }
}

@-ms-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: white;
    }
}

@-o-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: white;
    }
}


/* Image */
.gallery {
    display: inline-flex;
    width: 33%;
    height: 300px;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

.gallery .project-desc {
    margin-top: 15px;
}

.project-desc p {
    height: 63px;
    font-size: 15px;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 480px) {
    .gallery {
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 1200px) {
    .gallery {
        width: 49.5%;
    }
}

.settings-content img {
    width: 200px;
}


/* TARTISMA - by HC */
.argue-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.argue-back {
    position: absolute;
    top: 0;
}

.argue-wrapper .argue-content {
    background-color: #fff;
}

.argue-image {
    float: left;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.argue-image.argue-image-default {
    width: 38px;
    height: 38px;
    object-fit: cover;
    margin: 15px 0 20px 0;
}

.argue-message {
    width: 100%;
    display: table;
    overflow: hidden;
}

.argue-message:last-of-type {
    margin-bottom: 0;
}

.argue-message-wrapper {
    max-width: 80%;
    margin: 0 20px;
    position: relative;
}

.argue-message-wrapper:before {
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    top: 20px;
    position: absolute;
    z-index: 2;
}

@media (max-width:500px) {
    .argue-message-wrapper {
        max-width: 100%;
        margin: 0;
    }

    .argue-image.argue-image-default {
        margin: 13px 0 0 15px;
    }
}

.argue-message-wrapper p {
    padding: 10px 20px;
    color: #fff;
    border-top: 1px solid;
}

.argue-message-wrapper p:first-of-type {
    border-top: 0 !important;
}

.argue-message-author .argue-message-wrapper,
.argue-message-author .argue-message-content {
    float: left;
}

.argue-message-author .argue-message-wrapper:before {
    left: -20px;
    border-right-color: #91d98a;
}

.argue-message-author p {
    background-color: #91d98a;
    border-top-color: #7dc576;
}

.argue-message-commenter .argue-message-wrapper,
.argue-message-commenter .argue-message-content {
    float: right;
}

.argue-message-commenter .argue-message-wrapper:before {
    right: -20px;
    border-left-color: #8ac0d9;
}

.argue-message-commenter p {
    background: #8ac0d9;
    border-top-color: #76acc5;
}

.argue-message-commenter img {
    float: right !important;
}

.argue-message-content {
    display: table;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.argue-message-content:before {
    content: ' ';
    display: block;
}

.argue-details {
    clear: both;
    width: 100%;
    display: table;
    overflow: hidden;
}

.argue-details:before {
    content: ' ';
    display: block;
}

.argue-details span {
    margin-right: 4px;
    color: #bbb;
}

.yorum-block .avatar {
    height: 24px;
    border-radius: 24px;
    float: left;
    margin-right: 20px;
}